{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

    <div class="row" id="clients">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Health Education</h4>
                </div>
                <div class="card-body">


                    <table id = "table" class = "table table-bordered">
                        <thead class = "alert-warning">
                        <tr>
                            <th>FEMALE 10-14</th>
                            <th>FEMALE 15-19</th>
                            <th>FEMALE 20-24</th>
                            <th>FEMALE 25+</th>
                            <th>MALE 10-14</th>
                            <th>MALE 15-19</th>
                            <th>MALE 20-24</th>
                            <th>MALE 25+</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in fp_introduction_disaggregated %}
                            <tr>

                                <td align="center" id="total_female_10_14">{{ x.total_female_10_14 }}</td>
                                <td align="center" id="total_female_15_19">{{ x.total_female_15_19 }}</td>
                                <td align="center" id="total_female_20_24">{{ x.total_female_20_24 }}</td>
                                <td align="center" id="total_female_25_">{{ x.total_female_25_ }}</td>

                                <td align="center" id="total_male_10_14">{{ x.total_male_10_14 }}</td>
                                <td align="center" id="total_male_15_19">{{ x.total_male_15_19 }}</td>
                                <td align="center" id="total_male_20_24">{{ x.total_male_20_24 }}</td>
                                <td align="center" id="total_male_25_">{{ x.total_male_25_ }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>


    {% block scripts %}

        <script>

            $(document).ready(function(){

                $("#btn_filter").on("click", function () {

                    var date_from = document.getElementById("id_date_from").value;
                    var date_to = document.getElementById("id_date_to").value;
                    var location_id = document.getElementById("selected_location_id").value;
                    var url = "{% url 'filtered_health_education' %}";

                    if (date_from == "" || date_to == "" || location_id == "")
                    {
                        swal("Error!", "Filter(s) are empty.", "error");
                    }

                    else {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                date_from: date_from, date_to: date_to,location_id: location_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },

                            success: function (data) {

                                data = $.parseJSON(data);

                                $.each(data, function(k, v) {

                                    alert(v.total_female_10_14);

                                    $('#total_female_10_14').text(v.total_female_10_14);
                                    $('#total_female_15_19').text(v.total_female_15_19);
                                    $('#total_female_20_24').text(v.total_female_20_24);
                                    $('#total_female_25_').text(v.total_female_25_);

                                    $('#total_male_10_14').text(v.total_male_10_14);
                                    $('#total_male_15_19').text(v.total_male_15_19);
                                    $('#total_male_20_24').text(v.total_male_20_24);
                                    $('#total_male_25_').text(v.total_male_25_);

                                });



                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                swal("Error!", "Operation Failed.", "error");

                            }
                        });
                    }


                });


            });

        </script>

    {% endblock %}

{% endblock %}